<title>Login</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5"></h1>
      <p class="lead">User Login here</p>
      <br>
      <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class = "btn btn-primary " type="submit" name="loginbutton">Login</button>
      </form>
      <a href="{% url 'password_reset' %}">Forgot password?</a>
      <p></p>
      <p>First time here? <a class= "btn btn-primary btn-danger" href="{% url 'register' %}">Register</a></p>

      </form>
    </div>
  </div>
</div>
